<div class="container">
  <%if(datos == ""){%>
  <div class="alert alert-warning" role="alert">
    No cuentas con productos, registra tu primer producto
    <a href="admin/register" class="alert-link">aqui!</a>.
  </div>
  <%}else{%>
  
    <% datos.forEach((e)=>{ %>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    <% }); %>
    
  <%}%>
</div>
